.view-drawer {
  height: 100%;
  background: teal;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 3.7rem;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
}

.view-drawer coffeeList {
  list-style-type: none;
  padding: 2px;
  margin-bottom: 2px;
  margin-top: 3px;
}

.coffeeName {
padding: 3px;
margin-bottom: 2px;
color: #3300FF;
font-size: 8px;
font-weight: bold;
background: #B0B0B0;
border-left: solid 2px #3300FF;
cursor: pointer;
display: flex;
align-items: center;
}

.view-drawer li {
  margin: 0.5rem;
  margin-top: 1rem;
}

.view-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-top: 0.5rem;

}

.view-drawer form{
  display: flex;
  margin-left: 0.7rem;
}

.view-drawer button {
  width: 30%;
  display: flex;
  margin-top: 1.5rem;
  margin-left: 0.7rem;
  font-size: 1.5rem;
}

.view-drawer a:hover,
.view-drawer a:active {
  color: green;
}

.view-drawer button:hover,
.view-drawer button:active {
  color: green;
}

@media (min-width: 768px) {

}
